.modal {
    color: white;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 10%;
    top: 25%;
    max-width: 80%;
    height: 400px;/* Full width */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.751); /* Black w/ opacity */
}

#modal-content {
    margin: 20px;
    user-select: none;
}